/*
Palette: https://coolors.co/ebf3ed-bcd6c5-fcfdfc-d8e7dd-39704e
Ultra Violet: 525174
Ash Gray: BCD6C5
White: FCFDFC
English Violet: 513B56
Dark Spring Green: 39704E
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    text-align: center;
    background-color: #FCFDFC;
    background: rgb(82,81,116);
    background: linear-gradient(180deg, rgba(82,81,116,1) 0%, rgba(81,59,86,1) 100%);
}

#hero {
    background-image: url(../img/eagan.jpg);
    background-color: #525174;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 120px;
}

#heroHeading {
    width: 201px;
    text-align: center;
    margin: 0px auto 0px auto;
    color: #FCFDFC;
    background-color: #39704E;
    border-radius: 10px;
    padding: 6px 12px 6px 12px;
    font-size: 32px;
    font-weight: bold;
}

#heroSubheading {
    width: 356px;
    text-align: center;
    margin: 6px auto 0px auto;
    color: #FCFDFC;
    background-color: #525174;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 4px 28px 2px 28px;
}

#activities {
    height: 349px;
    margin-top: 39px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color:#39704E;
}

#activitiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 64px;
    width: 720px;
    margin: 56px auto 0px auto;
}

.activityHeader {
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #39704E;
    width: 183px;
}

.activityText {
    margin-top: 5px;
    width: 183px;
    font-size: 16px;
    color: #BCD6C5;
}

.activityImg {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.guideHeading {
    font-weight: bold;
    font-size: 24px;
    color: #39704E;
}

#guidesContainer {
    display:flex;
    justify-content: center;
    width: 750px;
    margin: 12px auto 0px auto;
}

.guide {
    display:flex;
    flex-direction: row-reverse;
    width: 400px;
    height: 294px;
    margin: auto 12px 50px 12px;
    background-color: #525174;
    border-color:#513B56;
    border-style: solid;
    border-width: 0px 0px 6px 0px;
    border-radius: 10px;
}

.guideTextContainer {
    width: 50%;
    margin: 49px 13px 0px 13px;
}

.guideQuote {
    font-size: 16px;
    font-style: italic;
    color: #FCFDFC;
    margin-top: 28px;
}

.guideCitation {
    color: #FCFDFC;
    font-weight: bold;
    margin-top: 28px;
}

.guideImg {
    object-fit: cover;
    max-height: 248px;
    max-width: 180px;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin-left: 13px;
    margin-top: 23px;
    border: 2px solid #513B56;
}