.colors {
    /* Palette: https://coolors.co/ebf3ed-bcd6c5-fcfdfc-d8e7dd-39704e */
    ---ultraviolet: #525174;
    ---ashgray: #BCD6C5;
    ---white: #FCFDFC;
    ---englishviolet: #513B56;
    ---darkspringgreen: #39704E;
    ---lightergreen: #11E864;
}

/* Top level elements */
* {
    font-family: "Lato", "Happy Monkey", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    text-align: center;
    background-color: var(---white);
    background: rgb(82, 81, 116);
    background: linear-gradient(180deg, rgba(82, 81, 116, 1) 0%, rgba(81, 59, 86, 1) 100%);
}

/* Cross section elements */
.sectionheader {
    font-size: 24px;
    font-weight: bold;
    color: var(---lightergreen);
    margin: 39px 0 20px;
}

/* Hero section */
#hero {
    background: #525174 url(../img/eagan.jpg) no-repeat center;
    background-size: cover;
    padding: 120px 0;
}

#heroHeading {
    background-color: var(---darkspringgreen);
    border-radius: 10px;
    color: var(---white);
    font-size: 32px;
    font-weight: bold;
    margin: 0px auto 0px auto;
    padding: 6px 12px 6px 12px;
    text-align: center;
    width: 201px;
}

#heroSubheading {
    background-color: var(---ultraviolet);
    border-radius: 10px;
    color: var(---white);
    font-size: 18px;
    font-weight: bold;
    margin: 6px auto 0px auto;
    padding: 4px 28px 2px 28px;
    text-align: center;
    width: 356px;
}

/* Activities section  */
#activitiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 56px auto 0px auto;
    width: 720px;
}

.activityHeader {
    color: var(---lightergreen);
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
    width: 183px;
}

.activityText {
    color: var(---ashgray);
    font-size: 16px;
    margin-top: 5px;
    width: 183px;
}

.activityImg {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

/* Guide section */
#guidesContainer {
    display: flex;
    justify-content: center;
    margin: 12px auto 0px auto;
    width: 750px;
}

.guide {
    background-color: var(---ultraviolet);
    border: 0px 0px 6px 0px solid #513B56;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    height: 294px;
    margin: auto 12px 50px 12px;
    width: 400px;
}

.guideTextContainer {
    margin: 49px 13px 0px 13px;
    width: 50%;
}

.guideQuote {
    color: var(---white);
    font-size: 16px;
    font-style: italic;
    margin-top: 28px;
}

.guideCitation {
    color: var(---white);
    font-weight: bold;
    margin-top: 28px;
}

.guideImg {
    border: 2px solid var(---englishviolet);
    border-radius: 10px;
    height: auto;
    margin-left: 13px;
    margin-top: 23px;
    max-height: 248px;
    max-width: 180px;
    object-fit: cover;
    width: auto;
}